---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [10]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)
print(df)
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('
df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')

df.head()

                                              № Summer  01 !  02 !  03 !  \
Afghanistan (AFG)                                   13     0     0     2
Algeria (ALG)                                       12     5     2     8
Argentina (ARG)                                     23    18    24    28
Armenia (ARM)                                        5     1     2     9
Australasia (ANZ) [ANZ]                              2     3     4     5
Australia (AUS) [AUS] [Z]                           25   139   152   177
Austria (AUT)                                       26    18    33    35
Azerbaijan (AZE)                                     5     6     5    15
Bahamas (BAH)                                       15     5     2     5
Bahrain (BRN)                                        8     0     0     1
Barbados (BAR) [BAR]                                11     0     0     1
Belarus (BLR)                                        5    12    24    39
Belgium (BEL)                                       25    37    52    53
Bermuda (BER)                                       17     0     0     1
Bohemia (BOH) [BOH] [Z]                              3     0     1     3
Botswana (BOT)                                       9     0     1     0
Brazil (BRA)                                        21    23    30    55
British West Indies (BWI) [BWI]                      1     0     0     2
Bulgaria (BUL) [H]                                  19    51    85    78
Burundi (BDI)                                        5     1     0     0
Cameroon (CMR)                                      13     3     1     1
Canada (CAN)                                        25    59    99   121
Chile (CHI) [I]                                     22     2     7     4
China (CHN) [CHN]                                    9   201   146   126
Colombia (COL)                                      18     2     6    11
Costa Rica (CRC)                                    14     1     1     2
Ivory Coast (CIV) [CIV]                             12     0     1     0
Croatia (CRO)                                        6     6     7    10
Cuba (CUB) [Z]                                      19    72    67    70
Cyprus (CYP)                                         9     0     1     0
...                                                ...   ...   ...   ...
Sri Lanka (SRI) [SRI]                               16     0     2     0
Sudan (SUD)                                         11     0     1     0
Suriname (SUR) [E]                                  11     1     0     1
Sweden (SWE) [Z]                                    26   143   164   176
Switzerland (SUI)                                   27    47    73    65
Syria (SYR)                                         12     1     1     1
Chinese Taipei (TPE) [TPE] [TPE2]                   13     2     7    12
Tajikistan (TJK)                                     5     0     1     2
Tanzania (TAN) [TAN]                                12     0     2     0
Thailand (THA)                                      15     7     6    11
Togo (TOG)                                           9     0     0     1
Tonga (TGA)                                          8     0     1     0
Trinidad and Tobago (TRI) [TRI]                     16     2     5    11
Tunisia (TUN)                                       13     3     3     4
Turkey (TUR)                                        21    39    25    24
Uganda (UGA)                                        14     2     3     2
Ukraine (UKR)                                        5    33    27    55
United Arab Emirates (UAE)                           8     1     0     0
United States (USA) [P] [Q] [R] [Z]                 26   976   757   666
Uruguay (URU)                                       20     2     2     6
Uzbekistan (UZB)                                     5     5     5    10
Venezuela (VEN)                                     17     2     2     8
Vietnam (VIE)                                       14     0     2     0
Virgin Islands (ISV)                                11     0     1     0
Yugoslavia (YUG) [YUG]                              16    26    29    28
Independent Olympic Participants (IOP) [IOP]         1     0     1     2
Zambia (ZAM) [ZAM]                                  12     0     1     1
Zimbabwe (ZIM) [ZIM]                                12     3     4     1
Mixed team (ZZX) [ZZX]                               3     8     5     4
Totals                                              27  4809  4775  5130

                                              Total  № Winter  01 !.1  02 !.1  \
Afghanistan (AFG)                                 2         0       0       0
Algeria (ALG)                                    15         3       0       0
Argentina (ARG)                                  70        18       0       0
Armenia (ARM)                                    12         6       0       0
Australasia (ANZ) [ANZ]                          12         0       0       0
Australia (AUS) [AUS] [Z]                       468        18       5       3
Austria (AUT)                                    86        22      59      78
Azerbaijan (AZE)                                 26         5       0       0
Bahamas (BAH)                                    12         0       0       0
Bahrain (BRN)                                     1         0       0       0
Barbados (BAR) [BAR]                              1         0       0       0
Belarus (BLR)                                    75         6       6       4
Belgium (BEL)                                   142        20       1       1
Bermuda (BER)                                     1         7       0       0
Bohemia (BOH) [BOH] [Z]                           4         0       0       0
Botswana (BOT)                                    1         0       0       0
Brazil (BRA)                                    108         7       0       0
British West Indies (BWI) [BWI]                   2         0       0       0
Bulgaria (BUL) [H]                              214        19       1       2
Burundi (BDI)                                     1         0       0       0
Cameroon (CMR)                                    5         1       0       0
Canada (CAN)                                    279        22      62      56
Chile (CHI) [I]                                  13        16       0       0
China (CHN) [CHN]                               473        10      12      22
Colombia (COL)                                   19         1       0       0
Costa Rica (CRC)                                  4         6       0       0
Ivory Coast (CIV) [CIV]                           1         0       0       0
Croatia (CRO)                                    23         7       4       6
Cuba (CUB) [Z]                                  209         0       0       0
Cyprus (CYP)                                      1        10       0       0
...                                             ...       ...     ...     ...
Sri Lanka (SRI) [SRI]                             2         0       0       0
Sudan (SUD)                                       1         0       0       0
Suriname (SUR) [E]                                2         0       0       0
Sweden (SWE) [Z]                                483        22      50      40
Switzerland (SUI)                               185        22      50      40
Syria (SYR)                                       3         0       0       0
Chinese Taipei (TPE) [TPE] [TPE2]                21        11       0       0
Tajikistan (TJK)                                  3         4       0       0
Tanzania (TAN) [TAN]                              2         0       0       0
Thailand (THA)                                   24         3       0       0
Togo (TOG)                                        1         1       0       0
Tonga (TGA)                                       1         1       0       0
Trinidad and Tobago (TRI) [TRI]                  18         3       0       0
Tunisia (TUN)                                    10         0       0       0
Turkey (TUR)                                     88        16       0       0
Uganda (UGA)                                      7         0       0       0
Ukraine (UKR)                                   115         6       2       1
United Arab Emirates (UAE)                        1         0       0       0
United States (USA) [P] [Q] [R] [Z]            2399        22      96     102
Uruguay (URU)                                    10         1       0       0
Uzbekistan (UZB)                                 20         6       1       0
Venezuela (VEN)                                  12         4       0       0
Vietnam (VIE)                                     2         0       0       0
Virgin Islands (ISV)                              1         7       0       0
Yugoslavia (YUG) [YUG]                           83        14       0       3
Independent Olympic Participants (IOP) [IOP]      3         0       0       0
Zambia (ZAM) [ZAM]                                2         0       0       0
Zimbabwe (ZIM) [ZIM]                              8         1       0       0
Mixed team (ZZX) [ZZX]                           17         0       0       0
Totals                                        14714        22     959     958

                                              03 !.1  Total.1  № Games  \
Afghanistan (AFG)                                  0        0       13
Algeria (ALG)                                      0        0       15
Argentina (ARG)                                    0        0       41
Armenia (ARM)                                      0        0       11
Australasia (ANZ) [ANZ]                            0        0        2
Australia (AUS) [AUS] [Z]                          4       12       43
Austria (AUT)                                     81      218       48
Azerbaijan (AZE)                                   0        0       10
Bahamas (BAH)                                      0        0       15
Bahrain (BRN)                                      0        0        8
Barbados (BAR) [BAR]                               0        0       11
Belarus (BLR)                                      5       15       11
Belgium (BEL)                                      3        5       45
Bermuda (BER)                                      0        0       24
Bohemia (BOH) [BOH] [Z]                            0        0        3
Botswana (BOT)                                     0        0        9
Brazil (BRA)                                       0        0       28
British West Indies (BWI) [BWI]                    0        0        1
Bulgaria (BUL) [H]                                 3        6       38
Burundi (BDI)                                      0        0        5
Cameroon (CMR)                                     0        0       14
Canada (CAN)                                      52      170       47
Chile (CHI) [I]                                    0        0       38
China (CHN) [CHN]                                 19       53       19
Colombia (COL)                                     0        0       19
Costa Rica (CRC)                                   0        0       20
Ivory Coast (CIV) [CIV]                            0        0       12
Croatia (CRO)                                      1       11       13
Cuba (CUB) [Z]                                     0        0       19
Cyprus (CYP)                                       0        0       19
...                                              ...      ...      ...
Sri Lanka (SRI) [SRI]                              0        0       16
Sudan (SUD)                                        0        0       11
Suriname (SUR) [E]                                 0        0       11
Sweden (SWE) [Z]                                  54      144       48
Switzerland (SUI)                                 48      138       49
Syria (SYR)                                        0        0       12
Chinese Taipei (TPE) [TPE] [TPE2]                  0        0       24
Tajikistan (TJK)                                   0        0        9
Tanzania (TAN) [TAN]                               0        0       12
Thailand (THA)                                     0        0       18
Togo (TOG)                                         0        0       10
Tonga (TGA)                                        0        0        9
Trinidad and Tobago (TRI) [TRI]                    0        0       19
Tunisia (TUN)                                      0        0       13
Turkey (TUR)                                       0        0       37
Uganda (UGA)                                       0        0       14
Ukraine (UKR)                                      4        7       11
United Arab Emirates (UAE)                         0        0        8
United States (USA) [P] [Q] [R] [Z]               84      282       48
Uruguay (URU)                                      0        0       21
Uzbekistan (UZB)                                   0        1       11
Venezuela (VEN)                                    0        0       21
Vietnam (VIE)                                      0        0       14
Virgin Islands (ISV)                               0        0       18
Yugoslavia (YUG) [YUG]                             1        4       30
Independent Olympic Participants (IOP) [IOP]       0        0        1
Zambia (ZAM) [ZAM]                                 0        0       12
Zimbabwe (ZIM) [ZIM]                               0        0       13
Mixed team (ZZX) [ZZX]                             0        0        3
Totals                                           948     2865       49

                                              01 !.2  02 !.2  03 !.2  \
Afghanistan (AFG)                                  0       0       2
Algeria (ALG)                                      5       2       8
Argentina (ARG)                                   18      24      28
Armenia (ARM)                                      1       2       9
Australasia (ANZ) [ANZ]                            3       4       5
Australia (AUS) [AUS] [Z]                        144     155     181
Austria (AUT)                                     77     111     116
Azerbaijan (AZE)                                   6       5      15
Bahamas (BAH)                                      5       2       5
Bahrain (BRN)                                      0       0       1
Barbados (BAR) [BAR]                               0       0       1
Belarus (BLR)                                     18      28      44
Belgium (BEL)                                     38      53      56
Bermuda (BER)                                      0       0       1
Bohemia (BOH) [BOH] [Z]                            0       1       3
Botswana (BOT)                                     0       1       0
Brazil (BRA)                                      23      30      55
British West Indies (BWI) [BWI]                    0       0       2
Bulgaria (BUL) [H]                                52      87      81
Burundi (BDI)                                      1       0       0
Cameroon (CMR)                                     3       1       1
Canada (CAN)                                     121     155     173
Chile (CHI) [I]                                    2       7       4
China (CHN) [CHN]                                213     168     145
Colombia (COL)                                     2       6      11
Costa Rica (CRC)                                   1       1       2
Ivory Coast (CIV) [CIV]                            0       1       0
Croatia (CRO)                                     10      13      11
Cuba (CUB) [Z]                                    72      67      70
Cyprus (CYP)                                       0       1       0
...                                              ...     ...     ...
Sri Lanka (SRI) [SRI]                              0       2       0
Sudan (SUD)                                        0       1       0
Suriname (SUR) [E]                                 1       0       1
Sweden (SWE) [Z]                                 193     204     230
Switzerland (SUI)                                 97     113     113
Syria (SYR)                                        1       1       1
Chinese Taipei (TPE) [TPE] [TPE2]                  2       7      12
Tajikistan (TJK)                                   0       1       2
Tanzania (TAN) [TAN]                               0       2       0
Thailand (THA)                                     7       6      11
Togo (TOG)                                         0       0       1
Tonga (TGA)                                        0       1       0
Trinidad and Tobago (TRI) [TRI]                    2       5      11
Tunisia (TUN)                                      3       3       4
Turkey (TUR)                                      39      25      24
Uganda (UGA)                                       2       3       2
Ukraine (UKR)                                     35      28      59
United Arab Emirates (UAE)                         1       0       0
United States (USA) [P] [Q] [R] [Z]             1072     859     750
Uruguay (URU)                                      2       2       6
Uzbekistan (UZB)                                   6       5      10
Venezuela (VEN)                                    2       2       8
Vietnam (VIE)                                      0       2       0
Virgin Islands (ISV)                               0       1       0
Yugoslavia (YUG) [YUG]                            26      32      29
Independent Olympic Participants (IOP) [IOP]       0       1       2
Zambia (ZAM) [ZAM]                                 0       1       1
Zimbabwe (ZIM) [ZIM]                               3       4       1
Mixed team (ZZX) [ZZX]                             8       5       4
Totals                                          5768    5733    6078

                                              Combined total
Afghanistan (AFG)                                          2
Algeria (ALG)                                             15
Argentina (ARG)                                           70
Armenia (ARM)                                             12
Australasia (ANZ) [ANZ]                                   12
Australia (AUS) [AUS] [Z]                                480
Austria (AUT)                                            304
Azerbaijan (AZE)                                          26
Bahamas (BAH)                                             12
Bahrain (BRN)                                              1
Barbados (BAR) [BAR]                                       1
Belarus (BLR)                                             90
Belgium (BEL)                                            147
Bermuda (BER)                                              1
Bohemia (BOH) [BOH] [Z]                                    4
Botswana (BOT)                                             1
Brazil (BRA)                                             108
British West Indies (BWI) [BWI]                            2
Bulgaria (BUL) [H]                                       220
Burundi (BDI)                                              1
Cameroon (CMR)                                             5
Canada (CAN)                                             449
Chile (CHI) [I]                                           13
China (CHN) [CHN]                                        526
Colombia (COL)                                            19
Costa Rica (CRC)                                           4
Ivory Coast (CIV) [CIV]                                    1
Croatia (CRO)                                             34
Cuba (CUB) [Z]                                           209
Cyprus (CYP)                                               1

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [2]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [3]:
def answer_one():
    maximo=df['Combined total'].max()
    country=df.where(df['Combined total'] == maximo)
    country = country.dropna().iloc[0].name
    return country
answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [4]:
def answer_two():
    diferencia=abs(df['Gold']-df['Gold.1'])
    dmaxima=diferencia.max()
    country=df.where(abs(df['Gold']-df['Gold.1']) == dmaxima)
    country = country.dropna().iloc[0].name
    return country
answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [5]:
def answer_three():
    
    onegold = df.where((df['Gold'] > 0) & (df['Gold.1'] > 0))
    onegold = onegold.dropna()
    
    diferencia=(onegold['Gold']-onegold['Gold.1'])/onegold['Gold.2']
    dmaxima=diferencia.max()
    country=df.where((onegold['Gold']-onegold['Gold.1'])/onegold['Gold.2'] == dmaxima)
    country = country.dropna().iloc[0].name
    
    return country
answer_three()

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [6]:
def answer_four():
    Points=df['Gold.2']*3+ df['Silver.2']*2+df['Bronze.2']
    return Points
answer_four()

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [7]:
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [29]:
def answer_five():
    sumlev50 = census_df[census_df['SUMLEV'] == 50 ]
    
    states = sumlev50['STNAME'].unique()
    
    mc=[]
    ms=[]
    for s in states:
        ccount=sumlev50[sumlev50['STNAME'] == s]
        mcount=ccount['STNAME'].count()+1
        mc.append([mcount]) 
        ms.append((s)) 
    
    nd = pd.DataFrame(mc,columns=['#county'],index=[ms])
    maximo=nd['#county'].max()
    MState=nd.where(nd['#county'] == maximo)
    MState=MState.dropna().iloc[0].name
    return nd
    #return nd[nd['#']==ndmax].state
    
    
import time
tic=time.time()
answer_five()
toc=time.time()

print(str((toc-tic)*1000)+'ms')

113.11936378479004ms

In [24]:
def answer_fivealternative():
    sumlev50 = census_df[census_df['SUMLEV'] == 50 ]    
    states = sumlev50['STNAME'].value_counts().index[0]
    return states
    #return nd[nd['#']==ndmax].state
answer_fivealternative()

'Texas'

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [10]:
def answer_six():
    sumlev50 = census_df[census_df['SUMLEV'] == 50 ]
    
    states = sumlev50['STNAME'].unique()
    
    ms=[]
    mc=[]
    mo=[]
    ma=[]
    for s in states:
        ccount=sumlev50[sumlev50['STNAME'] == s]
        orden=sorted(ccount['CENSUS2010POP'])
        ordd=orden[-3:]
        laSuma = 0
        for i in ordd:
            laSuma = laSuma + i
      
        mc.append([laSuma]) 
        ms.append((s)) 
        mo.append((ordd)) 
    
    nd = pd.DataFrame(mc,columns=['popularidad'],index=[ms])
    orden=sorted(nd['popularidad'],reverse=True)
    
    MState=nd[nd['popularidad'] >= orden[2]]
    MState=MState.sort_values(by=['popularidad'],ascending=False)
    MState=MState.index.tolist()
    
    return MState
answer_six()

['California', 'Texas', 'Illinois']

In [11]:
def answer_sixalternative():
     
    sumlev50 = census_df[census_df['SUMLEV'] == 50 ]
    states = sumlev50['STNAME'].unique()
    st = pd.DataFrame(columns=['suma'])
    for s in states:
        ccount=sumlev50[sumlev50['STNAME'] == s]
        st.loc[s]=sum(sorted(ccount['CENSUS2010POP'],reverse=True)[:3])
    st=st.sort_values('suma',ascending=False)[:3].index.tolist()
    return st
answer_sixalternative()

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [12]:
def answer_seven():
    sumlev50 = census_df[census_df['SUMLEV'] == 50 ]          

    nd = sumlev50[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']]
    nd.index=sumlev50['CTYNAME']
    cambioT=[]
    u=0
    for i in nd.index:
        cambio=nd.iloc[u].max()-nd.iloc[u].min()
        cambioT.append(cambio)
        u+=1
        
    nd = pd.DataFrame(cambioT,columns=['cambio'],index=sumlev50['CTYNAME'])
    maximo=nd['cambio'].max()
    sfd=nd[nd['cambio']==maximo]
    return sfd.index[0]
answer_seven()

'Harris County'

In [13]:
def answer_sevenalternative():
    sumlev50 = census_df[census_df['SUMLEV'] == 50 ]          

    nd = sumlev50[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']]
    nd.index=sumlev50['CTYNAME']
    cambioT=[]
    
    cambioT=nd.max(axis=1)-nd.min(axis=1)
        
    nd = pd.DataFrame(cambioT,columns=['cambio'],index=sumlev50['CTYNAME'])
    maximo=nd['cambio'].max()
    sfd=nd[nd['cambio']==maximo].index[0]
    return sfd

answer_sevenalternative()

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [14]:
def answer_eight():
    nd=census_df[census_df['REGION']<3]
    nd=nd[census_df['CTYNAME']=='Washington County']
    nd=nd[census_df['POPESTIMATE2015']>census_df['POPESTIMATE2014']]
    nd=nd[['STNAME', 'CTYNAME']]
    
    return nd
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County